body {
  font-family: "Comic Sans MS", sans-serif;
  background: hsl(37, 100%, 95%);
  text-align: center;
  padding: 30px;
}

h1 {
  color: #5b6fcf;
  font-size: 48px;
  margin: 5px;
}

.welcome {
  color: #6c7fd1;
  font-size: 18px;
  margin-bottom: 40px;
}

.container {
  max-width: 230px;
  margin: auto;
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 15px 20px;
  margin-bottom: 18px;
  border: 4px solid #ffff;
}

.card img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.text h3 {
  margin: 3px;
  color: white;
  font-size: 20px;
}

.text span {
  background: #a08e92;
  padding: 2px 7px;
  border-radius: 12px;
  font-size: 13px;
  color: white;
}
